section {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

dialog {
  display: block;
  /* position: fixed; */
  z-index: 999;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
}