

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.ball {
  height: 25vmin;
  width: 25vmin;
  background: hsl(30 80% 30%);
  border-radius: 50%;
  animation: drop 2s infinite var(--ease);
}

@keyframes drop {
  0%, 50% {
    translate: 0 -300%;
  }
  50%, 100% {
    translate: 0 0;
  }
}

.floor {
  position: relative;
}

.floor::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 10%;
  background: radial-gradient(hsl(0 0% 10% / 0.5), hsl(0 0% 10% / 0.1));
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  translate: -50% 50%;
  animation: show 2s infinite var(--ease);
}

svg {
  height: 100%;
  width: 100%;
  fill: hsl(30 100% 50%);
}

@keyframes show {
  0%, 50% {
    opacity: 0;
    scale: 0;
  }
  50%, 100% {
    opacity: 1;
    scale: 1;
  }
}

:root {
  --bounce-easing: linear(
    0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
    1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
    0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
    0.973, 1, 0.988, 0.984, 0.988, 1
  );
}

:root {
  --ease: ease-in-out;
}

@supports(animation-timing-function: linear(0, 1)) {
  :root {
    --ease: var(--bounce-easing);
  }
}