* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

header {
  background-color: aquamarine;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

ul {
  margin: 0 auto;
  padding: 30px 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 30px 0;
  width: 600px;
  height: 1000px;
}

.section {
  scroll-margin-top: 84px;     /* !!! */
}

.section--a {
  background-color:beige;
}

.section--b {
  background-color:bisque;
}

.section--c {
  background-color:darkseagreen ;
}

.section--d {
  background-color:gainsboro ;
}